In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas_datareader as pdr

In [3]:
df = pd.read_csv("http://mopsfin.twse.com.tw/opendata/t187ap05_L.csv")

In [4]:
df.head()

,出表日期,資料年月,公司代號,公司名稱,產業別,營業收入-當月營收,營業收入-上月營收,營業收入-去年當月營收,營業收入-上月比較增減(%),營業收入-去年同月增減(%),累計營業收入-當月累計營收,累計營業收入-去年累計營收,累計營業收入-前期比較增減(%),備註
0,1100323,11002,1101,台泥,水泥工業,4536849,8596261,5000692,-47.222996,-9.275576,13133110,12502833,5.041073,-
1,1100323,11002,1102,亞泥,水泥工業,3450204,7436331,2851105,-53.603410,21.012870,10886535,8061424,35.044813,-
2,1100323,11002,1103,嘉泥,水泥工業,145091,195482,150813,-25.777821,-3.794103,340573,315842,7.830181,-
3,1100323,11002,1104,環泥,水泥工業,354013,511466,414075,-30.784646,-14.505102,865479,774041,11.813069,-
4,1100323,11002,1108,幸福,水泥工業,279071,417355,390288,-33.133424,-28.496136,696426,686683,1.418850,-

In [6]:
df.資料年月[0]

11002