In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import bs4

In [2]:
pr = 'https://mops.twse.com.tw/mops/web/t164sb04'#綜合損益表
bs = 'https://mops.twse.com.tw/mops/web/t164sb03'#資產負債表

In [28]:
stock_number =3293
year = 110
season = 1

form_data = {
        'encodeURIComponent':1,
        'step':1,
        'firstin':1,
        'off':1,
        'co_id':stock_number,
        'year': year,
        'season': season,}

r = requests.post(bs,form_data)
df = pd.read_html(r.text)

In [29]:
for i in range(len(df)):
    print(df[i].shape)
df[10]

(1, 1)
(1, 2)
(1, 1)
(1, 3)
(2, 1)
(1, 5)
(1, 11)
(1, 2)
(0, 5)
(3, 1)
(54, 9)
(0, 1)

                    民國110年第1季                                         \
                     單位：新台幣仟元
                         會計項目  110年03月31日         109年12月31日
           Unnamed: 0_level_3          金額       %         金額       %
0                        流動資產         NaN     NaN        NaN     NaN
1                     現金及約當現金   1045611.0    9.87  1906594.0   21.06
2         透過損益按公允價值衡量之金融資產－流動    107523.0    1.02   107371.0    1.19
3            按攤銷後成本衡量之金融資產－流動   5951105.0   56.18  4045878.0   44.68
4                      應收票據淨額     46379.0    0.44    23869.0    0.26
5                      應收帳款淨額   1651813.0   15.59  1232946.0   13.62
6                          存貨     99432.0    0.94    96789.0    1.07
7                        預付款項     71894.0    0.68    30949.0    0.34
8                      其他流動資產     63469.0    0.60    49755.0    0.55
9                      流動資產合計   9037226.0   85.31  7494151.0   82.76
10                      非流動資產         NaN     NaN        NaN     NaN
11   透過其他綜合損益按公允價值衡量之金融資產－非流動    189699.0    1.79   183666.0    2.03
12          按攤銷後成本衡量之金融資產－非流動     45804.0    0.43    45736.0    0.51
13                  不動產、廠房及設備   1128208.0   10.65  1135782.0   12.54
14                      使用權資產      4947.0    0.05     3779.0    0.04
15                       無形資產     46809.0    0.44    50655.0    0.56
16                    遞延所得稅資產    111472.0    1.05   114599.0    1.27
17                    其他非流動資產     29056.0    0.27    26853.0    0.30
18                    非流動資產合計   1555995.0   14.69  1561070.0   17.24
19                       資產總額  10593221.0  100.00  9055221.0  100.00
20                       流動負債         NaN     NaN        NaN     NaN
21                    合約負債－流動    169970.0    1.60   165608.0    1.83
22                       應付票據     27670.0    0.26    24276.0    0.27
23                       應付帳款     17920.0    0.17    13943.0    0.15
24                      其他應付款   1751379.0   16.53  1635750.0   18.06
25                    本期所得稅負債    602037.0    5.68   366712.0    4.05
26                    租賃負債－流動      2259.0    0.02     1996.0    0.02
27                     其他流動負債     51005.0    0.48    57972.0    0.64
28                     流動負債合計   2622240.0   24.75  2266257.0   25.03
29                      非流動負債         NaN     NaN        NaN     NaN
30                    遞延所得稅負債        37.0    0.00       37.0    0.00
31                   租賃負債－非流動      2604.0    0.02     1727.0    0.02
32                    其他非流動負債    123162.0    1.16   126310.0    1.39
33                    非流動負債合計    125803.0    1.19   128074.0    1.41
34                       負債總額   2748043.0   25.94  2394331.0   26.44
35                歸屬於母公司業主之權益         NaN     NaN        NaN     NaN
36                         股本         NaN     NaN        NaN     NaN
37                      普通股股本    704504.0    6.65   704504.0    7.78
38                       股本合計    704504.0    6.65   704504.0    7.78
39                       資本公積         NaN     NaN        NaN     NaN
40                     資本公積合計    317283.0    3.00   317283.0    3.50
41                       保留盈餘         NaN     NaN        NaN     NaN
42                     法定盈餘公積    786255.0    7.42   786255.0    8.68
43                     特別盈餘公積      1349.0    0.01     1349.0    0.01
44              未分配盈餘（或待彌補虧損）   6004651.0   56.68  4826006.0   53.30
45                     保留盈餘合計   6792255.0   64.12  5613610.0   61.99
46                       其他權益         NaN     NaN        NaN     NaN
47                     其他權益合計     17499.0    0.17    11721.0    0.13
48              歸屬於母公司業主之權益合計   7831541.0   73.93  6647118.0   73.41
49                      非控制權益     13637.0    0.13    13772.0    0.15
50                       權益總額   7845178.0   74.06  6660890.0   73.56
51                    負債及權益總計  10593221.0  100.00  9055221.0  100.00
52    預收股款（權益項下）之約當發行股數（單位：股）         0.0     NaN        0.0     NaN
53  母公司暨子公司所持有之母公司庫藏股股數（單位：股）         0.0     NaN        0.0     NaN



   109年03月31日         Unnamed: 7_level_2 Unnamed: 8_level_2
           金額       % Unnamed: 7_level_3 Unnamed: 8_level_3
0         NaN     NaN                NaN                NaN
1    965755.0   12.57                NaN                NaN
2    106534.0    1.39                NaN                NaN
3   3511303.0   45.69                NaN                NaN
4       697.0    0.01                NaN                NaN
5   1327910.0   17.28                NaN                NaN
6    135707.0    1.77                NaN                NaN
7     59972.0    0.78                NaN                NaN
8     27798.0    0.36                NaN                NaN
9   6135676.0   79.84                NaN                NaN
10        NaN     NaN                NaN                NaN
11   177529.0    2.31                NaN                NaN
12    54629.0    0.71                NaN                NaN
13  1154676.0   15.03                NaN                NaN
14     3238.0    0.04                NaN                NaN
15    53525.0    0.70                NaN                NaN
16    80841.0    1.05                NaN                NaN
17    24866.0    0.32                NaN                NaN
18  1549304.0   20.16                NaN                NaN
19  7684980.0  100.00                NaN                NaN
20        NaN     NaN                NaN                NaN
21   188139.0    2.45                NaN                NaN
22    22342.0    0.29                NaN                NaN
23     8825.0    0.11                NaN                NaN
24  1064760.0   13.86                NaN                NaN
25   455069.0    5.92                NaN                NaN
26     2044.0    0.03                NaN                NaN
27    21765.0    0.28                NaN                NaN
28  1762944.0   22.94                NaN                NaN
29        NaN     NaN                NaN                NaN
30       37.0    0.00                NaN                NaN
31     1164.0    0.02                NaN                NaN
32   119349.0    1.55                NaN                NaN
33   120550.0    1.57                NaN                NaN
34  1883494.0   24.51                NaN                NaN
35        NaN     NaN                NaN                NaN
36        NaN     NaN                NaN                NaN
37   704504.0    9.17                NaN                NaN
38   704504.0    9.17                NaN                NaN
39        NaN     NaN                NaN                NaN
40   317283.0    4.13                NaN                NaN
41        NaN     NaN                NaN                NaN
42   786255.0   10.23                NaN                NaN
43     5784.0    0.08                NaN                NaN
44  3972160.0   51.69                NaN                NaN
45  4764199.0   61.99                NaN                NaN
46        NaN     NaN                NaN                NaN
47     3458.0    0.04                NaN                NaN
48  5789444.0   75.33                NaN                NaN
49    12042.0    0.16                NaN                NaN
50  5801486.0   75.49                NaN                NaN
51  7684980.0  100.00                NaN                NaN
52        0.0     NaN                NaN                NaN
53        0.0     NaN                NaN                NaN

In [4]:
newdf = df[10]
#newdf.columns[0]='項目'
c = list(newdf.columns)
c[0]='項目'
newdf.columns=c

In [5]:
newdf = newdf.drop(columns=[newdf.columns[5],newdf.columns[6]])

In [6]:
newdf[newdf.項目=='合約負債－流動']

,項目,"(民國108年第4季, 單位：新台幣仟元, 108年12月31日, 金額)","(民國108年第4季, 單位：新台幣仟元, 108年12月31日, %)","(民國108年第4季, 單位：新台幣仟元, 107年12月31日, 金額)","(民國108年第4季, 單位：新台幣仟元, 107年12月31日, %)"
21,合約負債－流動,188013.0,2.83,152226.0,3.3

In [22]:
pd.read_html('https://doc.twse.com.tw/server-java/t57sb01?step=1&colorchg=1&co_id=5515&year=107&seamon=&mtype=A&')[1]

,證券代號,資料年度,資料類型,結案類型,性質,資料細節說明,備註,電子檔案,檔案大小,上傳日期,財務報告更(補)正
0,5515,107 年 第一季,財務報告書,NaN,NaN,IFRSs合併財報,NaN,201801_5515_AI1.pdf,5841429,107/05/14 18:24:35,無
1,5515,107 年 第二季,財務報告書,NaN,NaN,IFRSs合併財報,NaN,201802_5515_AI1.pdf,6108461,107/08/14 15:48:43,無
2,5515,107 年 第三季,財務報告書,NaN,NaN,IFRSs合併財報,NaN,201803_5515_AI1.pdf,8373698,107/11/13 18:24:28,無
3,5515,107 年 第四季,財務報告書,NaN,NaN,IFRSs合併財報,NaN,201804_5515_AI1.pdf,8109897,108/03/29 15:49:34,無
4,5515,107 年 第四季,財務報告書,NaN,NaN,IFRSs個體財報,NaN,201804_5515_AI3.pdf,6690568,108/03/29 15:50:45,無
5,5515,107 年 第四季,財務報告書,NaN,NaN,IFRSs英文版-合併財報,NaN,201804_5515_AIA.pdf,2822908,108/05/21 12:28:02,無
6,5515,107 年 第四季,財務報告書,NaN,NaN,IFRSs英文版-個體財報,NaN,201804_5515_AIC.pdf,2183740,108/05/21 12:28:48,無

In [24]:
dfs = pd.read_html(r.text, header=None)

ValueError: No tables found