In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import bs4

In [2]:
pr = 'https://mops.twse.com.tw/mops/web/t164sb04'#綜合損益表
bs = 'https://mops.twse.com.tw/mops/web/t164sb03'#資產負債表

In [3]:
stock_number =3293
year = 108
season = 4

form_data = {
        'encodeURIComponent':1,
        'step':1,
        'firstin':1,
        'off':1,
        'co_id':stock_number,
        'year': year,
        'season': season,}

r = requests.post(bs,form_data)
df = pd.read_html(r.text)

In [98]:
newdf = df[10]
#newdf.columns[0]='項目'
c = list(newdf.columns)
c[0]='項目'
newdf.columns=c

In [108]:
newdf = newdf.drop(columns=[newdf.columns[5],newdf.columns[6]])

In [112]:
newdf[newdf.項目=='合約負債－流動']

,項目,"(民國108年第4季, 單位：新台幣仟元, 108年12月31日, 金額)","(民國108年第4季, 單位：新台幣仟元, 108年12月31日, %)","(民國108年第4季, 單位：新台幣仟元, 107年12月31日, 金額)","(民國108年第4季, 單位：新台幣仟元, 107年12月31日, %)"
21,合約負債－流動,188013.0,2.83,152226.0,3.3

In [22]:
pd.read_html('https://doc.twse.com.tw/server-java/t57sb01?step=1&colorchg=1&co_id=5515&year=107&seamon=&mtype=A&')[1]

,證券代號,資料年度,資料類型,結案類型,性質,資料細節說明,備註,電子檔案,檔案大小,上傳日期,財務報告更(補)正
0,5515,107 年 第一季,財務報告書,NaN,NaN,IFRSs合併財報,NaN,201801_5515_AI1.pdf,5841429,107/05/14 18:24:35,無
1,5515,107 年 第二季,財務報告書,NaN,NaN,IFRSs合併財報,NaN,201802_5515_AI1.pdf,6108461,107/08/14 15:48:43,無
2,5515,107 年 第三季,財務報告書,NaN,NaN,IFRSs合併財報,NaN,201803_5515_AI1.pdf,8373698,107/11/13 18:24:28,無
3,5515,107 年 第四季,財務報告書,NaN,NaN,IFRSs合併財報,NaN,201804_5515_AI1.pdf,8109897,108/03/29 15:49:34,無
4,5515,107 年 第四季,財務報告書,NaN,NaN,IFRSs個體財報,NaN,201804_5515_AI3.pdf,6690568,108/03/29 15:50:45,無
5,5515,107 年 第四季,財務報告書,NaN,NaN,IFRSs英文版-合併財報,NaN,201804_5515_AIA.pdf,2822908,108/05/21 12:28:02,無
6,5515,107 年 第四季,財務報告書,NaN,NaN,IFRSs英文版-個體財報,NaN,201804_5515_AIC.pdf,2183740,108/05/21 12:28:48,無

In [24]:
dfs = pd.read_html(r.text, header=None)

ValueError: No tables found